  <%- include('partials/head') %>
    <%- include('partials/formstyle') %>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="back">
              <a href="/auth/loginAs"><h3> &lt; Back</h3></a>
            </div">
            <div id="result" class="d-flex text-center mb-3">
              <h1>All Dashboard</h1>
            </div>
             
            <div id="buttons">
                <a href="/admin/usergames" class="btn yellow">User Game</a>
                <a href="/admin/userbiodata" class="btn yellow">User Game Biodata</a>
                <a href="/admin/userhistories" class="btn yellow">User Game History</a>
            </div>
              <div class="text-center">
                        </p>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
<%- include('partials/scripts') %>
 