  <%- include('partials/head') %>
  <div id="main-screen">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navigation">
    <div class="container">
      <a class="navbar-brand me-5" href="#">LOGO </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ms-5 fw-bold" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/auth/register">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="text-center text-white highlight-text">
    <h1 class="text-uppercase fw-bold mb-4">Play Traditional Game</h1>
    <p class="mb-4">Experience new traditional game play</p>
    <a href="/rockpaperscissors"> <button type="button" class="btn btn-warning text-uppercase fw-bold" class="button">Play</button></a>
  </div>

  <div class="text-uppercase text-white" id="the-story">
  <p>The Story</p>
  <img src="image/scroll-down.svg" alt="scroll-down">
  </div>
  </div>

  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-3 text-white text-uppercase">
        <p>What's so spesial?</p>
        <h2>The Games</h2>
        </div>
        <div class="col-9">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy-1600">
              </div>
              <div class="carousel-item">
                <img src="image/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy-1600">
              </div>
              <div class="carousel-item">
                <img src="image/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy-1600">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-4 offset-md-8"><h4>What's so special?</h4></div>
        <div class="col-md-4 offset-md-8"> <h2>Features</h2></div>
        <br> <br> <br> <br>
        <div class="col-md-4 offset-md-8"><h4>Traditional Games</h4></div>
        <div class="col-md-4 offset-md-8 mb-3"> <p>if you miss your child hood, we provide many traditional games here</p> </div>
        <div class="col-md-4 offset-md-8 mb-3"><h4>GAME SUIT</h4></div>
        <div class="col-md-4 offset-md-8 mb-3"><h4>TBD</h4></div>
      </div>
    </div>
    </div>
    
  <div id="requirements">
  <p class="text-center text-white">Can my computer run the game?</p>
  <div class="container">
    <div class="row text-white">
      <div class="col-md-6">
        <h2>System requirements</h2>
      <div class="col-md-12">
        <div class="container">
          <div class="row row-cols-2 text-white">
            <div class="col border 1px">OS:
              <p>Windows 7 64 bit only (No OSX support at this time)</p>
            </div>
            <div class="col border 1px"> PROCESSOR:
              <P>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8 GHZ</P>
            </div>
            <div class="col border 1px">Memory:
              <p>4 GB RAM</p>
            </div>
            <div class="col border 1px">Storage:
              <p>8 GB available space</p></div>
          </div>
        </div>
        <div class="row row-cols-1 col-md-12 ms-1 text-white">
          <div class="col border 1px">GRAPHICS:
            <p>NVIDIA GeForce GTX 660 2GB or
            <br>
            AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
          </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

    
  <div id="top-scores">
      <div class="col">
        <div class="row">
          <div class="col-lg-4 offset-lg-1 top-score-text">
            <h2 class="mb-4">TOP SCORE </h2>
            <p class="mb-4">This top score from various games provided on this platform</p>
            <button type="button" class="btn btn-warning fw-bold">see more</button>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-lg-9 offset-lg-3 mb-4">
            <img src="image/quote 1.png" alt="quote-1">
           </div>
           <div class="col-lg-9 offset-lg-1 mb-4">
             <img src="image/quote 2.png" alt="quote-2">
           </div>
           <div class="col-lg-9 offset-lg-3 mb-4">
             <img src="image/quote 3.png" alt="quote-3">
          </div>
      </div>
    </div>
  </div>

  <div class="container" id="newsletter">
      <div class="col">
        <div class="row">
          <div class="col-lg-4 offset-lg-1 newsleteter-image">
           <img src="image/skull.png" alt="skull">
          </div>
          <div class="col" id="newsletter-text">
          <div class="row text-white">
           <div class="col-lg-9 offset-lg-3 mb-4">
             <p>Want to stay in touch?</p>
             <h2 class="text-uppercase">NEWSLETTER SUBSCRIBE</h2>
             <p class="mb-5">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            <form>
              <input type="email" placeholder="Your Email Address">
              <button type="submit" class="btn btn-warning main-btn" class="button">Subscribe now</button>
            </form>
      </div>
    </div>
  </div>
  <div>
   <footer id="footer">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active ms-3" aria-current="page" href="#">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-3" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-3" href="#">Game Feature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled ms-3">System requirements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active ms-3" aria-current="page" href="#">Quotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-3" href="#"><img src="image/facebook.svg" alt=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-3" href="#"><img src="image/twitter.svg" alt=""></a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link disabled"><img src="image/vector.svg" alt=""> </a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link disabled"><img src="image/twitch.svg" alt=""> </a>
      </li>
    </ul>
   </footer id="copyright">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-nav mb-2 mb-lg-0" id="copyright-2018">© 2018 Your Games, Inc. All Rights Reserved</a>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        </ul>
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">privacy policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">terms of service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">code of conduct</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  <%- include('partials/scripts') %>