  <%- include('partials/head') %>
  <%- include('partials/formstyle') %>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="back">
              <a href="/"><h4> Logout </h4></a>
            </div">
            <div id="result" class="d-flex text-center text-info">
              <h2>Hello <%= name %> </h2>
            </div>
            <div">
              <h4>Login As:</h4>
            </div>
             
            <div id="buttons">
                <a href="/rockpaperscissors" class="btn yellow">Player</a>
                <a href="/admin/alldashboard" class="btn yellow">Admin</a>
            </div>
              <div class="text-center">
                        </p>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/scripts') %>